<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">

    <title>访问错误</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


</head>

<body class="fix-header fix-sidebar">

<!-- Preloader - style you can find in spinners.css -->


<!-- Main wrapper  -->
<div class="error-page" id="wrapper">
    <div class="error-box">
        <div class="error-body text-center">
            <h1>404</h1>
            <h3 class="text-uppercase">您访问的页面不存在 </h3>
            <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" id="a-go-back"
               href="/backend/index/">返回首页</a>
        </div>
        <!--<footer class="footer text-center copyright">&copy; 广州润普</footer>-->
    </div>
</div>


</body>

</html>